/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/chat/style.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
#chat-container {
    max-width: 100%;
    padding: 4px;
    position: fixed;
 
    overflow-y: auto;
    height: 5/6;
  }
  
  #chat-container::-webkit-scrollbar {
    display: none;
  }
  
  #chat-container {
    scrollbar-width: none; 
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .bg-gray-900 {
    background-color: #333333;
  }
  
  .text-white {
    color: white;
  }
