#chat-container {
    max-width: 100%;
    padding: 4px;
    position: fixed;
 
    overflow-y: auto;
    height: 5/6;
  }
  
  #chat-container::-webkit-scrollbar {
    display: none;
  }
  
  #chat-container {
    scrollbar-width: none; 
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .bg-gray-900 {
    background-color: #333333;
  }
  
  .text-white {
    color: white;
  }